<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @quote.message %>
</p>

<p>
  <strong>Person:</strong>
  <%= @quote.person %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
