<!DOCTYPE html>
<html>
<head>
  <title>Quotemaster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div id="top-block">
    </div>

    <%= yield %>

    <div id="bottom-block">
    </div>


</body>
</html>
